$selfie-size: 120px;

%text {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.about {
  font-family: 'Noto Serif', serif;
  color: $color-gray-5;

  &__children {
    @extend %text;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 2rem 0;
    list-style: inside;

    li {
      @extend %text;
      margin: 1rem 0;
    }
  }
}

.selfie {
  width: $selfie-size;
  height: $selfie-size;
  border-radius: 50%;
  margin-bottom: 3rem;
  align-self: center;
  background-image: url('../assets/yo.jpg');
  background-size: cover;
  background-position: top;
}

@media (min-width: $breakpoint-desktop) {
  .about__children {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .about__list {
    li {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }
}
