$breakpoint-to-show: 960px;
$breakpoint-side-message: 1180px;

@media (min-width: $breakpoint-to-show) {
  .doge {
    width: 64px;
    height: 64px;

    background-image: url(../assets/doge.svg), none;

    position: fixed;
    bottom: -30px;
    right: 5%;

    z-index: 2;

    transition: all ease-in-out 100ms;

    &:hover {
      bottom: 10px;

      &::before {
        content: "follow him";

        background-color: $color-almost-white;
        color: $color-gray-1;
        font-size: 0.8rem;
        font-family: "Comic Sans MS", "Comic Sans", cursive;

        padding: 12px;
        border-radius: 4px;
        text-align: center;
        transform: translate(0, -70px);

        position: absolute;

        animation: showmessage 300ms forwards;
      }
    }
  }

  @keyframes showmessage {
    0% {
      opacity: 0
    }

    50% {
      opacity: 0
    }

    100% {
      opacity: 1;
    }
  }
}

@media (min-width: $breakpoint-side-message) {
  .doge {
    &:hover {
      &::before {
        transform: translate(-80px, 4px);
      }
    }
  }
}
