.read-in {
  height: 20px;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
  text-align: right;
  font-family: 'Roboto Mono', monospace;

  &:first-child {
    margin-top: 1rem;
  }
}
