@import 'reset';
@import 'variables';

@import 'container';
@import 'greetings';
@import 'about';
@import 'footer';

:root {
  font-size: 16px;
}

body {
  background-color: #fbfbfb;
}

em {
  font-style: italic;
}
