@import 'reset';
@import 'variables';

@import 'container';
@import 'header';
@import 'main';
@import 'footer';
@import 'find-me';

@import 'doge';

:root {
  font-size: 20px;
}

body {
  background: $main-color;
  color: $color-almost-white;
  font-family: Zilla Slab, serif;

  padding-left: 12px;
  padding-right: 12px;
}

a {
  color: $color-almost-white;

  &:hover {
    cursor: pointer;
  }
}

::selection {
  background: $color-gray-1;
}

@media (min-width: $breakpoint-desktop) {
  body {
    background: $gradient-green;
  }
}
