body {
  background-color: #fdfdfd;
  color: #222;
}

.site-header {
  background-image: url('../../images/light-header.png');
}

.page-post a,
.page-post a:active {
  color: #222;
}

a {
  color: #2a7ae2;
}

a:active {
  color: #0D67DB;
}
