body {
  background-color: #01232B;
  color: #DDD;
}

.site-header {
  background-image: url('../../images/dark-header.jpeg');
}

.page-post a,
.page-post a:active {
  color: #DDD;
}

a {
  color: #975F27;
}

a:active {
  color: #6D3C0A;
}
